/* 
font-family: 'Courier Prime', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
 */

body {
    margin: 0px 0px 0px 0px;
}

.center-name {
    align-items: center;
}

.topnav {
    background-color: #FFF9F5;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topnav a {
    font-family: 'Lato', sans-serif;
    justify-content: flex-start;
    display: block;
    color: #FFF9F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }

  .topnav a:hover {
    color: #F51039;
  }

  .topnav a.active {
    color: #F51039;
  }

  .topnav .icon {
    display: none;
    margin-bottom: 10px;
  }
  

.banner {
    align-items: center;
    background-color: #FFF9F5;
    margin: none;
    padding: 20px 0px 120px 0px;
}

.hello{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    width:100%;
    /* height: 50px; */
}

.hello svg {
    height: 50px;
}

.title {
    margin: 0px 48px 12px 48px;
}

.title div {
    text-align: center;
}

.title div h1{
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 48px;
    color: #745885;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    display: inline-block;
    max-width: 260px;
}

.title span {
    color:#F51039;
}

.title h2{
    font-family: 'Lato', sans-serif;
    color: #3D261F;
    font-size: 16px;
    /* font-size: 3vw; */
    max-width: 450px;
    margin: auto;
    line-height: 1.5;
}

h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-size: 38px;
    /* font-size: 9vw; */
    text-align: center;
    color: #745885;
    padding: 15px;
    margin-bottom: 0px;
}

/* nav */

header {
    align-items: center;
    color: #FFF9F5;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  nav {
    background-color: #3D261F;
    border-left: 0px solid;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
    padding-top: 24px;
    transform: translateX(100vw);
    transition: transform 225ms ease-in-out;
  }
  
  nav.open {
    transform: none;
  }
  
  nav header {
    background-color: var(--dark-blue);
  }

  nav ul {
      list-style: none;
      margin: 0;
      padding: 50px;
  }

  .topnav button {
      background-color: transparent;
      border: none;
  }

  .topnav button svg{
    height:50px;
    } 


/* case studies */

.caseStudies {
    padding: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.caseStudies img {
    /* max-width: 80vw; */
    max-width:100%;
    height:auto;
}

.image-block {
    margin-top: 24px;
    margin-bottom: 24px;
}

.caseStudies h2 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    margin: 5px 0px 0px 0px;
    /* font-size: 5vw; */
}

.caseStudies p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /* font-size: 3vw; */
    padding: 0px 1vw 0px 1vw;
    margin: 5px 0px 60px 0px;
    line-height: 1.5;
    text-align: left;
    display: inline-block;
}

.image-block a{
    text-decoration: none;
    color: inherit;
}

/* footer */

.footer {
    background-color: #3D261F;
    padding: 32px 0px 32px 0px;
    margin-top: 24px;
}

.footer p{
    color: #FFF9F5;
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}


/* about */

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-banner {
    align-items: center;
    background-color: #FFF9F5;
    margin: none;
    padding: 20px 0px 0px 0px;
    height: 190px;
}

.about-banner img{
    width: 250px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin: -50px 40px 0px 40px;
}

.about-banner svg {
    width: 240px;
}

.about {
    text-align: center;
    margin-top: 120px;
}

.about h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 9vw;
    color: #745885;
    text-align: center;
}

.contact h2 {
    color: #3D261F;
    font-family: "Lato";
    font-weight: 700;
    /* font-size: 24px; */
    font-size: 5vw;
    text-align: center;
    padding-top: 42px;
}

.about p{
    color: #3D261F;
    font-family: "Lato";
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 3vw;
    text-align: left;
    display: inline-block;
    line-height: 1.5;
    margin: 0px 40px 14px 40px;
}

.contact {
    align-items: center;
}
.contact .connect-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 120px;
}

.connect-logos a{
    padding: 0px 14px 0px 14px;
}

/* all individual case study pages */

.cs-body {
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cs-body img {
    margin:auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius:18px;
}

.cs-header {
    /* width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column; */

    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.cs-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: bold;
    color: #745885;
    text-align: center;
    margin: auto;
}

.cs-header img {
    max-width:100%;
    height:auto;
}

.cs-header h2 {
    font-family: 'Lato';
    font-size: 12px;
    max-width: 300px;
    color: #3D261F;
    margin: auto;
    margin-top: 12px;
}

.cs-header span {
    color: #745885;
}

.cs-body h1 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 26px;
    color: #745885;
}

.cs-body h2{
    font-family: 'Lato';
    font-size: 20px;
    color: #3D261F;
}

.cs-body h3{
    font-family: 'Lato';
    font-size: 20px;
    color: #3D261F;
    margin: 25px 30px 7px 30px;
}

.cs-body p {
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: 0px 30px 14px 30px;
}

.cs-body li{
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: 0px 20px 14px 20px;
}

.cs-body ol{
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: auto;
    max-width: 400px;
    font-weight: bold;
}

.cs-body a:link{
    color: #745885;
}

.cs-body a:visited{
    color: #F51039;
}

.cs-body a:hover{
    color: #F51039;
}

/* tcr */

.agile img {
    display: flex;
    justify-content: center;
    max-width:80vw;
    height:auto;
    margin: auto;
    margin-top: 20px;

}

.feature-list h2 {
    font-family: 'Lato';
    font-size: 18px;
    color:#3D261F;

}

.feature-list span {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color:#745885;

}

.img-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 40px 40px 40px
}

.img-block h2 {
    font-family: 'Lato';
    font-size: 20px;
    color: #3D261F;
}

.img-block img{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.tcr-videos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 40px 40px 40px
}

.tcr-videos video{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    /* margin-bottom: 14px; */
    margin: 20px 0px 0px 20px
}

/* tyson */

.persona-pics img {
    height:auto;
    margin: auto;
    margin-top: 20px;
}

.two_img img{
    max-width:80vw;
    height:auto;
    margin: auto;
    margin-top: 20px;
}



/* Media Queries: 380 x 680 x 1330 */

@media screen and (min-width: 380px){
    
}

@media screen and (min-width: 680px){

    /* Home - tablet */
    .title {
        margin: 0px 100px 12px 100px;
    }

    .title div h1{
        /* font-size: 10vw; */
        font-size: 64px;
        text-align: center;
        display: inline-block;
        max-width: 500px;
    }

    .title h2 {
        max-width: 500px;;
    }

    h1 {
        font-size: 48px;
    }

    .hello svg {
        height: 70px;
    }


    .caseStudies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        max-width: 1220px;
        align-items: flex-start;
        text-align: center;
        max-width: 100%;
        /* padding: 0px 100px 100px 100px; */
    }

    .caseStudies p{
        padding: 0px 3vw 0px 3vw;
        margin-bottom: 5px;
    }

    .image-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: stretch;

    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .card-img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: stretch;
    }

    /* About - tablet*/

    .about h1{
        font-size: 64px;
        padding-top: 60px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .about p {
        font-size: 24px;
        margin: 0px 80px 40px 80px;
        max-width: 800px;
    }

    .about-banner {
        height: 250px;
    }

    .about-banner img {
        width: 350px;
    }

    .about-banner svg {
        width: 300px;
    }

    /* individua cs - tablet*/

    .cs-body h1 {
        font-size: 30px;
        padding-top: 40px;
    }

    .cs-body h3 {
        margin: auto;
        margin-bottom: 12px;
        margin-top: 20px;
        max-width: 70ch;
        padding: 0px 40px 0px 40px;
    }

    .cs-body p {
        font-size: 18px;
        /* margin: 0px 60px 14px 60px; */
        margin: auto;
        margin-bottom: 20px;
        padding: 0px 30px 0px 30px;
        max-width: 70ch;
    }

    .cs-body li{
        font-size: 18px;
        /* margin: 0px 80px 14px 80px; */
        margin: auto;
        margin-bottom: 20px;
        max-width: 60ch;
        
    }

    .cs-body ol {
        margin: auto;
        margin-bottom: 20px;
        max-width: 70ch;
    }

    .cs-header {
        padding: 0px 60px 0px 60px;
    }

    .cs-header h1 {
        font-size: 32px;
        margin: 20px 0px 20px 0px;
    }

    .cs-header h2 {
        font-size: 16px;
        margin: auto;
        max-width: 500px;
        margin-top: 18px;
    }

    .cs-header img {
        max-width: 620px;
    }

    /* tysons */

    .persona-pics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .persona-pics img {
        flex-direction: row;
        width: 40vw;;
        margin: 15px 12px 15px 12px
    }
    
    .two_img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 85vw;
        margin: auto;
    }

    .two_img img{
        max-width:40vw;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .task-sheet img {
        max-width: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    
    
    
}

@media screen and (min-width: 1330px){

    /* home */

    .banner{
        width: auto;
        height:auto;
    }

    .title {
        margin: 0px 300px 12px 300px;
    }

    .title div h1{
        letter-spacing: 0.1em;
        font-weight: 700;
        font-size: 64px;
        color: #745885;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        max-width: 1000px;;
        /* display: inline-block; */
    }

    .title h2 {
        /* max-width: 48rem; */
        max-width: 700px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        /* padding-right: 0px; */

    }

    .h1 {
        font-size: 48px;
        font-family: 'Courier Prime', monospace;
        font-weight: 400;
        /* font-size: 38px; */
        text-align: center;
        color: #745885;
        padding: 15px;
        margin-bottom: 0px;
    }

    .hello svg {
        transform: rotate(-15deg);
        position: relative;
        width: 300px;
        top: 20px;
        left: -360px;

    }

    /* casestudies dt */

    .caseStudies h2 {
        font-size: 34px;
    }

    .caseStudies p{
        font-size: 24px;
    }

    /* About */

    .about h1{
        font-size: 64px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .about p {
        font-size: 24px;
    }

    /* tcr cs */

    .cs-body h1 {
        font-size: 32px;
        padding-top: 40px;
    }

    .cs-body p {
        font-size: 24px;
        margin-bottom: 14px;
    }

    .cs-body h3 {
        font-size: 28px;
        margin-bottom: 14px;
        margin-top: 20px;
    }

    .cs-body li{
        font-size: 24px;
        margin-bottom: 14px;
        
    }

    .cs-header {
        padding: 0px 60px 0px 60px;
    }

    .cs-header h1 {
        font-size: 38px;
        margin: 20px 0px 20px 0px;
    }

    .cs-header h2 {
        font-size: 18px;
        margin: 20px 0px 20px 0px;
    }

    /* tysons */

    .persona-pics {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
    }

    .persona-pics img {
        flex-direction: row;
        width: 25vw;;
        margin: 15px 12px 15px 12px;
        max-width: 370px;
    }

    .lt-rp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .mid-fi_text {
        max-width: 350px;
    }
    
}