/* 
font-family: 'Courier Prime', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
 */

body {
    margin: 0px 0px 0px 0px;
}

.center-name {
    align-items: center;
}


  

.banner {
    align-items: center;
    background-color: #FFF9F5;
    margin: none;
    padding: 20px 0px 120px 0px;
    height: 450px;
    overflow: hidden;
}

.hello{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    width:100%;
    /* height: 50px; */
}

.hello svg {
    height: 50px;
}

.title {
    margin: 0px 48px 12px 48px;
}

.title div {
    text-align: center;
}

.title div h1{
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 48px;
    color: #745885;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    display: inline-block;
    max-width: 260px;
}

.banner .title span {
    color:#F51039;
}

.title h2{
    font-family: 'Lato', sans-serif;
    color: #3D261F;
    font-size: 16px;
    /* font-size: 3vw; */
    max-width: 450px;
    margin: auto;
    line-height: 1.5;
}

h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    font-size: 38px;
    /* font-size: 9vw; */
    text-align: center;
    color: #745885;
    padding: 15px;
    margin-bottom: 16px;
}

div.orb img{
    /* position: absolute; */
    top: 350px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    margin: auto;
    margin-top: -40px;
}




/* case studies */

.caseStudies {
    padding: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.caseStudies img {
    /* max-width: 80vw; */
    max-width:100%;
    height:auto;
}

.image-block {
    margin-top: 24px;
    margin-bottom: 24px;
}

.caseStudies h2 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    margin: 5px 0px 0px 0px;
    /* font-size: 5vw; */
}

.caseStudies p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    /* font-size: 3vw; */
    padding: 0px 1vw 0px 1vw;
    margin: 5px 0px 60px 0px;
    line-height: 1.5;
    text-align: left;
    display: inline-block;
}

.image-block a{
    text-decoration: none;
    color: inherit;
}

/* footer */

.footer {
    background-color: #3D261F;
    padding: 32px 0px 32px 0px;
    margin-top: 24px;

}

.footer p{
    color: #FFF9F5;
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}


/* about */

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.about-banner {
    align-items: center;
    background-color: #FFF9F5;
    margin: none;
    padding: 60px 0px 0px 0px;
    height: 240px;
}

.about-banner img{
    width: 250px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin: -50px 40px 0px 40px;
}

.about-banner svg {
    width: 240px;
}

.about {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 9vw;
    color: #745885;
    text-align: center;
}

.contact h2 {
    color: #3D261F;
    font-family: "Lato";
    font-weight: 700;
    /* font-size: 24px; */
    font-size: 5vw;
    text-align: center;
    padding-top: 42px;
}

.about p{
    color: #3D261F;
    font-family: "Lato";
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 3vw;
    text-align: left;
    /* display: inline-block; */
    line-height: 1.5;
    margin: 0px 40px 14px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    align-items: center;
}
.contact .connect-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 120px;
}

.connect-logos a{
    padding: 0px 14px 0px 14px;
}

/* all individual case study pages */

.cs-body {
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cs-body img {
    margin:auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius:18px;
}

.cs-header {
    /* width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column; */

    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.cs-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: bold;
    color: #745885;
    text-align: center;
    margin: auto;
    margin-top: 100px;;
}

.cs-header img {
    max-width:100%;
    height:auto;
}

.cs-header h2 {
    font-family: 'Lato';
    font-size: 12px;
    max-width: 300px;
    color: #3D261F;
    margin: auto;
    margin-top: 12px;
}

.cs-header span {
    color: #745885;
}

.cs-body h1 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 26px;
    color: #745885;
}

.cs-body h2{
    font-family: 'Lato';
    font-size: 20px;
    color: #3D261F;
}

.cs-body h3{
    font-family: 'Lato';
    font-size: 20px;
    color: #3D261F;
    margin: 25px 30px 7px 30px;
}

.cs-body p {
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: 0px 30px 14px 30px;
}

.cs-body li{
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: 0px 20px 14px 20px;
}

.cs-body ol{
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: auto;
    max-width: 400px;
    font-weight: bold;
}

.cs-body a:link{
    color: #745885;
}

.cs-body a:visited{
    color: #F51039;
}

.cs-body a:hover{
    color: #F51039;
}

/* tcr */

.agile img {
    display: flex;
    justify-content: center;
    max-width:800px;
    height:auto;
    margin: auto;
    margin-top: 20px;

}

.feature-list h2 {
    font-family: 'Lato';
    font-size: 18px;
    color:#3D261F;

}

.feature-list span {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color:#745885;

}

.img-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 40px 40px 40px
}

.img-block h2 {
    font-family: 'Lato';
    font-size: 20px;
    color: #3D261F;
}

.img-block img{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.tcr-videos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 40px 40px 40px;
    max-width: 500px;
}

.tcr-videos video{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    /* margin-bottom: 14px; */
    margin: 0px 0px 0px 0px
}

/* tyson */

.persona-pics img {
    height:auto;
    margin: auto;
    margin-top: 20px;
}

.two_img img{
    max-width:80vw;
    height:auto;
    margin: auto;
    margin-top: 20px;
}

.tyson-video video {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;

}

    /* traverse  */

.traverse-design img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

    /* experiments */

.experiments-body h1{
    font-family: 'Playfair Display';
    
}

.experiments-body p{
    font-family: 'Lato';
    font-size: 16px;
    color: #3D261F;
    line-height: 1.5;
    margin: 0px 30px 14px 30px;
}

.experiments-body {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: auto;
}

.experiments-body div {
    margin-top: 40px;
}



/* Media Queries: 380 x 680 x 1330 */

@media screen and (min-width: 380px){
    
}

@media screen and (min-width: 680px){


    /* Home - tablet */

    .title {
        margin: 0px 100px 12px 100px;
    }

    .title div h1{
        /* font-size: 10vw; */
        font-size: 64px;
        text-align: center;
        display: inline-block;
        max-width: 500px;
    }

    .title h2 {
        max-width: 500px;;
    }

    .hello svg {
        height: 70px;
    }

    div.orb img{
        margin-top: -60px;
    }


    .caseStudies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        max-width: 1220px;
        align-items: flex-start;
        text-align: center;
        max-width: 100%;
        /* padding: 0px 100px 100px 100px; */
    }

    .caseStudies p{
        margin-bottom: 5px;
    }

    .image-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: stretch;

    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .card-img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .card-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: stretch;
    }

    .center-cs {
        max-width: 1000px;
        margin: auto;
    }

    /* About - tablet*/

    .about {
        margin-top: 90px;
    }
    .about h1{
        font-size: 64px;
        padding-top: 60px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .about p {
        font-size: 24px;
        margin: 0px 80px 40px 80px;
        max-width: 800px;
    }

    .about-banner {
        height: 300px;
    }

    .about-banner img {
        width: 350px;
    }

    .about-banner svg {
        width: 300px;
    }

    /* individua cs - tablet*/

    .cs-body h1 {
        font-size: 30px;
        padding-top: 40px;
    }

    .cs-body h3 {
        margin: auto;
        margin-bottom: 15px;
        padding: 0px 30px 0px 30px;
        max-width: 850px;
    }

    .cs-body p {
        font-size: 18px;
        /* margin: 0px 60px 14px 60px; */
        margin: auto;
        margin-bottom: 20px;
        padding: 0px 30px 0px 30px;
        max-width: 850px;
    }

    .cs-body li{
        font-size: 18px;
        /* margin: 0px 80px 14px 80px; */
        margin: auto;
        margin-bottom: 20px;
        max-width: 60ch;
        
    }

    .cs-body ol {
        margin: auto;
        margin-bottom: 20px;
        max-width: 70ch;
    }

    .cs-header {
        padding: 100px 60px 0px 60px;
    }

    .cs-header h1 {
        font-size: 32px;
        margin: 20px 0px 20px 0px;
    }

    .cs-header h2 {
        font-size: 16px;
        margin: auto;
        max-width: 500px;
        margin-top: 18px;
    }

    .cs-header img {
        max-width: 620px;
    }

    /* tysons */

    .persona-pics {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .persona-pics img {
        flex-direction: row;
        width: 40vw;;
        margin: 15px 12px 15px 12px
    }
    
    .two_img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 85vw;
        margin: auto;
        padding-bottom: 20px;
    }

    .two_img img{
        max-width:540px;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .task-sheet img {
        max-width: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tyson-video video {
        width: 80vw;
        max-width: 800px;
    }

    /* TRAVERSE */

    .traverse-design img {
        max-width: 850px;
    }
    
    .flow-img img {
        max-width: 850px;
    }
    
    
}

@media screen and (min-width: 1330px){

    /* home */

    .banner{
        width: auto;
        height:400px;
    }

    .title {
        margin: 0px 300px 12px 300px;
    }

    .title div h1{
        letter-spacing: 0.1em;
        font-weight: 700;
        font-size: 64px;
        color: #745885;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        max-width: 1000px;;
        /* display: inline-block; */
    }

    .title h2 {
        /* max-width: 48rem; */
        max-width: 700px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        /* padding-right: 0px; */

    }

    .h1 {
        font-size: 48px;
        font-family: 'Courier Prime', monospace;
        font-weight: 400;
        /* font-size: 38px; */
        text-align: center;
        color: #745885;
        padding: 15px;
        margin-bottom: 0px;
    }

    .hello svg {
        transform: rotate(-15deg);
        position: relative;
        width: 300px;
        top: 20px;
        left: -360px;

    }

    div.orb img{
    /* position: absolute; */
    top: 350px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    margin: auto;
    margin-top: -70px;
}

    /* casestudies dt */

    .caseStudies h2 {
        font-size: 34px;
    }

    .caseStudies p{
        font-size: 24px;
    }

    /* About */

    .about h1{
        font-size: 64px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .about p {
        font-size: 24px;
    }

    /* tcr cs */

    .cs-body h1 {
        font-size: 40px;
        padding-top: 40px;
    }

    .cs-body p {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .cs-body h3 {
        font-size: 24px;
        margin-bottom: 14px;
        margin-top: 40px;
    }

    .cs-body li{
        font-size: 20px;
        margin-bottom: 14px;
        
    }

    .cs-header {
        padding: 100px 60px 0px 60px;
    }

    .cs-header h1 {
        font-size: 40px;
        margin: 20px 0px 20px 0px;
    }

    .cs-header h2 {
        font-size: 18px;
        margin: 20px 0px 20px 0px;
    }

    .tcr-prototypes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1100px;
        margin: 15px 12px 15px 12px;
    }

    .dt-vid video {
        margin: none;
    }

    /* tysons */

    .persona-pics {
        display: flex;
        flex-direction: row;
    }

    .persona-pics img {
        flex-direction: row;
        width: 25vw;;
        margin: 15px 12px 15px 12px;
        max-width: 370px;
    }

    .lt-rp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .mid-fi_text {
        max-width: 500px;
    }
    
    .traverse-persona {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }

    .persona-container {
        max-width: 400px;
    }

    .persona-container img {
        max-width: 600px;
    }

    .persona-container h3 {
        margin-top: 15px;
    }

    .traverse-styles {
        display: flex;
        flex-direction: row;
        padding-top: 40px;
    }

    .styles-container {
        max-width: 500px;
    }

    .styles-container img {
        max-width: 500px;
    }


}


/* ------ nav ----- */


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: #FFF9F5;
  position: absolute;

}

nav ul {
  --padding: 20px;
  --font-size: 17px;

  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  /* transition: 1s cubic-bezier(.68,-0.55,.27,10.55); */
  /* box-shadow: var(--nav-shadow); */
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

nav ul li {
  padding: var(--padding);
}

/* menu words */
nav ul li a {
  color: #3D261F;
  text-decoration: none;
  position: relative;
}

/* underline */
nav ul li a::after {
  /* content: ""; */
  width: 0%;
  height: 1.7px;
  /* border-radius: 99px; */
  background: #745885;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  transition: 0.3s ease;
  
}

nav ul li a:hover::after {
  width: 100%;
  color: #F51039;
}

nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

/* hamburger */
nav .menu span {
  width: 22px;
  height: 2.5px;
  border-radius: 99px;
  background: #3D261F;
  transition: 0.3s ease;
  transform-origin: left;
}

/* x */
nav .menu.active span {
  background: #3D261F;
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}

@media (max-width: 680px) {
  nav .menu {
    display: flex;
  }

  .logo svg{
    width: 70px;
    margin: 0px 10px 0px 10px;
}


  nav ul {
    --height: 0px;

    flex-direction: column;
    background: #FFF9F5;
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    height: var(--height);
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  }
  nav ul.active {
    --height: 100vh;
    
    
    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
  }
}
